:root {
  --w: #fff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #ccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111;
  --c12: #000;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
}

/* GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Arial, sans-serif;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
}

/* FONTS */

.font-1-xxl {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 4.5rem
  /* font-size: clamp(4rem, 4.25rem, 4.5rem); */
}

.font-1-xl {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: clamp(2rem, 2.25rem, 2.5rem);
}

.font-1-l {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: clamp(1.5rem, 1.875rem, 2.25rem);
}

.font-2-l {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: clamp(1.5rem, 1.875rem, 2.25rem);
}

.font-2-l-b {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: clamp(1.5rem, 1.875rem, 2.25rem);
  text-transform: uppercase;
}

.font-1-m {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: clamp(1.115rem, 1.25rem, 1.5rem);
}

.font-1-m-b {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: clamp(1.125rem, 1.25rem, 1.5rem);
}

.font-2-m {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: clamp(1.125rem, 1.25rem, 1.5rem);
}

.font-1-s {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: clamp(1rem, 1.25rem, 1.5rem);
}

.font-2-s {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: clamp(1rem, 1.25rem, 1.5rem);
}

.font-1-xs {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: clamp(.75rem, .875rem, 1rem);
}

.font-2-xs {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: clamp(.875rem, 1rem, 1.25rem);
}

/* BUTTONS */

.btn {
  background-image: linear-gradient(to bottom, var(--p1), var(--p2));

  border-radius: 5px;
  padding: 16px 32px;

  color: var(--p5);

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  box-shadow: 0 1px 2px var(--c10);

  opacity: 0.9;
  transition: 100ms linear;
}

.btn:hover {
  opacity: 1;
}

/* LISTS*/

ul {
  list-style: none;
}

li>a {
  color: var(--c1);
  display: inline-block;
}

li>a:hover {
  color: var(--w);
}

a {
  text-decoration: none;
  
  padding: 20px 0;
}

.yellow-txt {
  color: var(--p1);
}

img{
  max-width: 100%;
  display: block;
}


/* HEADER */

.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;

  gap: 20px;
}

.header img{
  height: 28px;
  width: auto;
}

.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 50px;
}

.header-menu a {
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;

  position: absolute;

  height: 2px;
  width: 0px;
  
  background: var(--w);
  
  margin-top: 6px;

  transition: 300ms;
}

.header-menu a:hover::after {
  width: 100%;
}

/* BANNER */

.banner-bg {
  background-color: var(--c12);

  box-shadow: inset 0 -120px var(--w);

  background-image: url(../img/dec/bottom-left.svg);
  background-repeat: no-repeat;
  background-position: bottom 200px left 120px;
}

.banner-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 40px;
}

.banner-content h1 {
  color: var(--w);

  line-height: 1.125;

  margin-bottom: 32px;
}

.left {
  grid-row: 2 / span 2;

  padding-bottom: 200px;
}

.left a {
  width: 50%;
}

.left p {
  color: var(--c4);

  margin-bottom: 20px;
}

.right {
  grid-row: 1 / span 3;
  grid-column: 2 / span 3;
}

.right img {
  height: 100%;
  object-fit: cover;
}

/* BIKES */

.products {
  padding: 160px 0;
  max-width: 1400px;
}

.bikes {
  display: flex;
  justify-content: center;

  gap: 40px;
}

.bike img {
  width: 460px;
  height: 520px;

  border-radius: 5px;
}

.bike-name {
  display: flex;
  align-items: center;

  gap: 8px;
}

.yellow-line {
  height: 7px;
  width: 12px;

  background-color: var(--p1);
}


/* PARCEIROS */

main {
margin-bottom: 600px;
}

.parceiros {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  max-width: 1300px;
}

.parceiros {
  display: grid;

  align-items: center;
  justify-content: center;

  border: transparent;
}

.parceiros div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 25px;

  height: 100%;

  border: 2px solid var(--c4);
}

/* RESPONSIVE  */

@media (max-width: 1300px) {
  .container {
    max-width: 90%;
  }

  .banner-content h1,
  .products h2 {
    font-size: 48px;
  }

  .banner-content p {
    font-size: 18px;
  }

  .banner-content a {
    font-size: 16px;
  }

  .products {
    max-width: 95%;
  }

  .bike img {
    height: 100%;
    object-fit: cover;
  }

  .bike-name h3 {
    font-size: 34px;
  }

  .bike p {
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .banner-content h1,
  .products h2 {
    font-size: 40px;
  }

  .banner-content p{
    font-size: 16px;
  }

  .banner-content a{
    font-size: 14px;
  }

  .bikes {
    gap: 20px;
  }
  
    .bike img {
      height: 80%;
      object-fit: cover;
    }
  
    .bike-name h3 {
      font-size: 30px;
    }

    .bike p {
    font-size: 16px;
  }

}

@media (max-width: 950px) {
  .banner-content {
    display: flex;
    flex-direction: column;

    padding-top: 80px;

    box-shadow: inset 0 -60px var(--w);
  }

  .left {
    padding-bottom: 32px;
  }

  .right img {
    width: 100%;
    height: 400px;
  }

  .bikes {
    gap: 14px;
  }

  .bike-name h3 {
    font-size: 24px;
  }

  .bike p {
    font-size: 14px;
  }
  
}

@media (max-width: 768px) {

  .header-menu{
    gap: 12px;

    padding: 10px 0;
  }

  .header-menu li>a {
    background-color: var(--c11);

    padding: 10px 15px;
    border-radius: 5px;

    width: 106px;

    display: flex;
    justify-content: center;
  }

  .header-menu li>a:hover {
    background-color: var(--c10);
  }

  .header-menu a:hover::after {
    width: 0px;
  }

  .right img {
    width: 100%;
    height: 250px;
  }

  .bikes {
    gap: 8px;
  }

    .bike-name h3 {
      font-size: 20px;
    }
  
    .bike p {
      font-size: 12px;
    }

}

@media (max-width: 550px ) {
  .header {
    flex-direction: column;
  }

  .bikes {
    flex-direction: column;
  
    width: 100%;
  
    align-items: center;

    gap: 40px;
  }
  
  .bike img {
    width: auto;
    height: 450px;
  
    object-fit: cover;
  }
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;
  }

    .header-menu li>a {
      font-size: 16px;

      gap: 5px;
      padding: 10px 5px;
    }

    .banner-content h1,
    .products h2 {
      font-size: 36px;
    }
  
    .banner-content p {
      font-size: 14px;
    }
  
    .banner-content a {
      font-size: 12px;
    }
}
